.element {
  &__wrapper {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.7875rem;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: .8125rem;
    line-height: 2;
    color: #000;
  }

  &__button {
    margin: 2rem 2rem 0 2rem;
    padding: 0.5rem 0 0.5rem 0;
    border: #331c14 1px solid;
    background: linear-gradient(to right, white 50%, #6a3a29 50%) left;
    background-size: 200%;
    transition: .2s ease-out;
  }

  &__button:hover {
    color: white;
    background-position: right;
  }
}