.branding {
  z-index: 1400;
  width: 100%;
  position: fixed;
  top: 0;

  &__shadow::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: 300ms opacity ease-in-out;
  }

  &::before {
    height: 130%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0) 100%);
    opacity: 1;
  }

  &__container::before {
    height: 100%;
    background: #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 0;
  }

  &__logo {
    position: absolute;
    top: 0;
  }

  &__section_branding {
    height: 4.4125rem
  }

  &__wrapper {
    z-index: 9;
    width: auto;
    height: 4.4125rem;
    transition: 300ms transform ease-in-out;
    position: absolute;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: color 200ms ease-in-out;
    display: block;
    height: 100%;
    outline: rgba(255, 255, 255, 0.8) 0;
  }

  &__image {
    width: auto;
    object-fit: contain;
    display: block;
  }

  &__container_fluid {
    max-width: 100rem;
    height: 4.4125rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
    position: relative;
    display: flex;
    justify-content: center;
  }
}