.review {
  display: flex;
  color: #6a3a29;
  flex-direction: column;
  text-align: center;

  &__content {
    width: auto;
    margin: 0 auto 2rem;
    max-width: 1260px;
  }

  &__title {
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    flex-basis: calc(33.33333% - 2.5rem);
    background-color: #f2ebe2;
  }

  &__element_wrapper {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 0 2rem;
  }

  &__element_title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1rem;
    line-height: 2;
    color: #000000;
  }
}