.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__logo {
    position: absolute;
    top: 0;
  }

  &__logo_container::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    pointer-events: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 300ms opacity ease-in-out;
    opacity: 0;
  }

  &__element {
    width: 100%;
    /*height: fit-content;*/
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
  }
}