.main {
  display: flex;
  color: #6a3a29;
  flex-direction: column;
  justify-content: center;
  background-color: #f2ebe2;

  &__container {
    display: flex;
    flex-direction: column;
    /*margin: 4rem 8rem 0 8rem;*/
    margin: 4rem auto 4rem;
  }

  &__row {
    display: flex;
    /*width: 100%;*/
    width: 1030px;
  }

  &__element {
    position: relative;
    width: 100%;
    background-color: white;
  }

  &__element::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &__element_wrapper {
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
  }

  &__element_image {
    object-fit: cover;

    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: .2s ease-out;
  }

  &__element_title {
    font-size: 1.7875rem;
    margin-bottom: 0.5rem;
  }

  &__element_text {
    font-size: .8125rem;
    line-height: 2;
    color: #000;
  }

  &__element_button {
    margin: 2rem 2rem 0 2rem;
    padding: 0.5rem 0 0.5rem 0;
    border: #331c14 1px solid;
    background: linear-gradient(to right, white 50%, #6a3a29 50%) left;
    background-size: 200%;
    transition: .2s ease-out;
  }

  &__element_button:hover {
    color: white;
    background-position: right;
  }
}